<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      QUIZ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Choose Lang.</ion-label>
          <ion-select interface="popover">
            <ion-select-option value="nes">English-Turkish</ion-select-option>
            <ion-select-option value="n64">Turkish-English</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
     
      <div class="flip-card" >
        <div [hidden]=hiddenFirst class="firstSide" (click)="flipCards()">
          <p>SEA</p>
        </div>
        <div [hidden]=hiddenSecond class="secondSide" (click)="flipCards()">
          <p>DENIZ</p>
        </div>
      </div>
      <ion-button expand="block">Next</ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>
