<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      QUIZ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <div *ngIf="!words.length > 0">
      <p>Start with adding a language.</p>
    </div>
    <ion-card-content [hidden]="!words.length > 0">
      <ion-list>
        <ion-item>
          <ion-label>Choose Lang.</ion-label>
          <ion-select (ionChange)="ionSelectOnChange($event)" interface="popover">
            <ion-select-option *ngFor="let language of languages" value="{{ language.name }}">{{ language.name }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-label color="dark">Language: {{currentLangSelection}}</ion-label>

      <div class="flip-card" >
        <div [hidden]=hiddenFirst class="firstSide" (click)="flipCards()">
          <p>{{randomWord.first}}</p>
        </div>
        <div [hidden]=hiddenSecond class="secondSide" (click)="flipCards()">
          <p>{{ randomWord.second }}</p>
        </div>
      </div>
      <ion-button (click)="pickRandomWord()" expand="block">Next</ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>
