<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Languages
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Available languages:</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="!languages.length > 0">
        <p>Start with adding a language.</p>
      </div>
      <ion-list>
        <ion-item *ngFor="let language of languages"> 
          <ion-label>
            <h2>{{ language.name }}</h2>          
          </ion-label>
          <ion-icon name="list-outline" ></ion-icon>
          <ion-icon name="close-circle-outline" (click)=deleteLanguageAlert(language.name)></ion-icon>
        </ion-item>        
    </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Add new language:</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item-divider>
        <ion-label color="dark">Name</ion-label>
        <ion-input [(ngModel)]="language" placeholder="English-Turkish"></ion-input>
      </ion-item-divider>
      <ion-button expand="block" (click)=saveLangAlert()>Save</ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>
