<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome</ion-card-title>
      <ion-card-subtitle>You have,</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row *ngFor="let stat of stats">
          <ion-col size="4">
            {{ stat.count }}
          </ion-col>
          <ion-col size="8">
            {{ stat.name }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-card-header>
      <ion-card-subtitle>words ready for the test</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>
