<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      New Word
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <div *ngIf="!languages.length > 0">
      <p>Start with adding a language.</p>
    </div>
    <ion-card-content [hidden]="!languages.length > 0">
      <ion-list>
        <ion-item>
          <ion-label>Choose Lang.</ion-label>
          <ion-select (ionChange)="ionSelectOnChange($event)" interface="popover">
            <ion-select-option *ngFor="let language of languages" value="{{ language.name }}">{{ language.name }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-label color="dark">Language: {{currentLangSelection}}</ion-label>

        <ion-item-divider>
          <ion-label color="dark">1st side:</ion-label>
          <ion-input [(ngModel)]="firstWord" placeholder="placeholder"></ion-input>
        </ion-item-divider>
        <ion-item-divider>
          <ion-label color="dark">2nd side:</ion-label>
          <ion-input [(ngModel)]="secondWord" placeholder="placeholder"></ion-input>
        </ion-item-divider>
        <ion-button (click)="saveWordAlert()" expand="block">Save</ion-button>

        <ion-badge color="warning">Sides will be the card sides in the quiz</ion-badge>

    </ion-card-content>
  </ion-card>


</ion-content>
