<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      New Word
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Choose Lang.</ion-label>
          <ion-select interface="popover">
            <ion-select-option value="nes">English-Turkish</ion-select-option>
            <ion-select-option value="n64">Turkish-English</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
     
        <ion-item-divider>
          <ion-label color="dark">1st side:</ion-label>
          <ion-input placeholder="placeholder"></ion-input>
        </ion-item-divider>
        <ion-item-divider>
          <ion-label color="dark">2nd side:</ion-label>
          <ion-input placeholder="placeholder"></ion-input>
        </ion-item-divider>
        <ion-button expand="block">Save</ion-button>

        <ion-badge color="warning">Sides will be the card sides in the quiz</ion-badge>

    </ion-card-content>
  </ion-card>


</ion-content>
